/* line 1, ../../../../Code/Project9/scss/base/_typography.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../../../../Code/Project9/scss/base/_typography.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #EAEBEB;
  padding-top: 100px;
}

/* line 13, ../../../../Code/Project9/scss/base/_typography.scss */
a[class="navbar-brand"] {
  font-weight: 900;
  font-size: 1.5rem;
}

/* ======================================================= */
/*                      Jumbotron                          */
/* ======================================================= */
/* line 22, ../../../../Code/Project9/scss/base/_typography.scss */
.typewriteContainer {
  display: inline-block;
}

/* line 26, ../../../../Code/Project9/scss/base/_typography.scss */
.lead {
  color: #F05656;
  margin-left: 8px;
}

/* line 31, ../../../../Code/Project9/scss/base/_typography.scss */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* ======================================================= */
/*                          About                          */
/* ======================================================= */
/* line 40, ../../../../Code/Project9/scss/base/_typography.scss */
.aboutImg {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* line 44, ../../../../Code/Project9/scss/base/_typography.scss */
#aboutHeading {
  color: #F05656;
  text-align: center;
  font-weight: 900;
}

/* line 50, ../../../../Code/Project9/scss/base/_typography.scss */
.aboutInfo {
  font-size: 1.1rem;
}

/* ======================================================= */
/*                          Skills                         */
/* ======================================================= */
/* line 57, ../../../../Code/Project9/scss/base/_typography.scss */
#skillsHeader {
  color: #F05656;
  text-align: center;
  font-weight: 900;
}

/* line 63, ../../../../Code/Project9/scss/base/_typography.scss */
.htmlImg,
.cssImg,
.jsImg,
.sassImg,
.bootstrapImg,
.slackImg {
  transition: all .2s ease-in-out;
}

/* line 70, ../../../../Code/Project9/scss/base/_typography.scss */
.htmlImg:hover,
.cssImg:hover,
.jsImg:hover,
.sassImg:hover,
.bootstrapImg:hover,
.slackImg:hover {
  transform: scale(1.1);
}

/* line 73, ../../../../Code/Project9/scss/base/_typography.scss */
.sample > p {
  text-align: center;
  margin-bottom: 0;
  font-weight: 900;
}

/* line 79, ../../../../Code/Project9/scss/base/_typography.scss */
#experience {
  background-color: #F05656;
}

/* ======================================================= */
/*                   Projects/Experience Cards             */
/* ======================================================= */
/* line 86, ../../../../Code/Project9/scss/base/_typography.scss */
#projectsHeader {
  text-align: center;
  color: #EAEBEB;
  font-weight: 900;
}

/* line 92, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  box-shadow: #26394d 0px 20px 30px -10px;
}

/* line 105, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card a {
  color: inherit;
}

/* line 107, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card a:hover {
  color: #5ad67d;
}

/* line 112, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}

/* line 116, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}

/* line 121, ../../../../Code/Project9/scss/base/_typography.scss */
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform .2s;
}

/* line 133, ../../../../Code/Project9/scss/base/_typography.scss */
.description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}

/* line 138, ../../../../Code/Project9/scss/base/_typography.scss */
.description h1,
.description h2 {
  font-family: Poppins, sans-serif;
}

/* line 142, ../../../../Code/Project9/scss/base/_typography.scss */
.description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}

/* line 147, ../../../../Code/Project9/scss/base/_typography.scss */
.description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}

/* line 154, ../../../../Code/Project9/scss/base/_typography.scss */
.description .read-more {
  text-align: right;
}

/* line 156, ../../../../Code/Project9/scss/base/_typography.scss */
.description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}

/* line 160, ../../../../Code/Project9/scss/base/_typography.scss */
.description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin .3s, opacity .3s;
}

/* line 169, ../../../../Code/Project9/scss/base/_typography.scss */
.description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}

/* line 177, ../../../../Code/Project9/scss/base/_typography.scss */
.experienceCards p {
  position: relative;
  margin: 1rem 0 0;
}

/* line 180, ../../../../Code/Project9/scss/base/_typography.scss */
.experienceCards p:first-of-type {
  margin-top: 1.25rem;
}

/* line 182, ../../../../Code/Project9/scss/base/_typography.scss */
.experienceCards p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

/* line 194, ../../../../Code/Project9/scss/base/_typography.scss */
.experienceCards li::marker {
  content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%237B61FF'/%3E%3C/svg%3E%0A");
}

/* line 198, ../../../../Code/Project9/scss/base/_typography.scss */
.experienceCards li {
  padding-left: .5rem;
}

/* ======================================================= */
/*                        Contact Me                       */
/* ======================================================= */
/* COLORS
========================================== */
/* CONTACT
========================================== */
/* line 247, ../../../../Code/Project9/scss/base/_typography.scss */
.contact-area {
  width: 100%;
  height: 100vh;
  position: relative;
}

/* line 253, ../../../../Code/Project9/scss/base/_typography.scss */
.contact {
  position: relative;
  max-width: 600px;
  padding: 40px 20px;
  overflow: hidden;
  margin: 0 auto;
}

@media (min-width: 1024px) {
  /* line 253, ../../../../Code/Project9/scss/base/_typography.scss */
  .contact {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* line 267, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main {
  float: left;
  width: 100%;
  position: relative;
}

/* line 272, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section {
  border-radius: 5px;
  float: left;
  width: 100%;
  background-color: #eb524a;
}

/* line 278, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section .content {
  float: left;
  width: 100%;
  padding: 20px 30px 50px 30px;
  position: relative;
  text-align: center;
}

@media (min-width: 414px) {
  /* line 278, ../../../../Code/Project9/scss/base/_typography.scss */
  .contact main section .content {
    text-align: left;
  }
}

/* line 289, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section .content img {
  display: inline-block;
  width: 140px;
  border-radius: 50%;
}

@media (min-width: 414px) {
  /* line 289, ../../../../Code/Project9/scss/base/_typography.scss */
  .contact main section .content img {
    float: left;
    width: 30%;
    margin-right: 10%;
  }
}

/* line 301, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section .content aside {
  float: left;
  width: 100%;
  color: #ffffff;
  margin-top: 10px;
}

@media (min-width: 414px) {
  /* line 301, ../../../../Code/Project9/scss/base/_typography.scss */
  .contact main section .content aside {
    width: 60%;
  }
}

/* line 311, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section .content aside h1 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 10px;
}

/* line 317, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main section .content aside p {
  font-size: 1.25rem;
  letter-spacing: .5px;
  line-height: 160%;
}

/* line 326, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main .title {
  float: left;
  width: 100%;
  background-color: #c63535;
  max-height: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.55s;
  -moz-transition: all 0.55s;
  -o-transition: all 0.55s;
  transition: all 0.55s;
}

/* line 336, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main .title.active {
  max-height: 100px;
  -webkit-transition: all 1.3s;
  -moz-transition: all 1.3s;
  -o-transition: all 1.3s;
  transition: all 1.3s;
}

/* line 340, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main .title.active p {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transition-delay: .2s;
}

/* line 346, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main .title p {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 16px;
  display: inline-block;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

/* line 359, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button {
  position: absolute;
  bottom: 0;
  right: 50%;
  background-color: #ffbe44;
  color: #c63535;
  border: 0;
  width: 200px;
  height: 48px;
  text-align: center;
  border-radius: 30px;
  font-size: 16px;
  letter-spacing: .5px;
  text-transform: uppercase;
  margin-bottom: -24px;
  margin-right: -100px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  transition-delay: .1s;
  outline: none;
  overflow: hidden;
  z-index: 10;
  font-family: inherit;
}

/* line 382, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button span {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
  transition-delay: .4s;
  display: block;
  width: 200px;
  float: left;
  padding-right: 15px;
  font-weight: 900;
}

/* line 393, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

/* line 401, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button svg path {
  fill: #c63535;
}

/* line 406, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button.active {
  margin-right: 0;
  right: 20px;
  width: 65px;
  height: 65px;
  margin-bottom: -32.5px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 65px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

/* line 418, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button.active span {
  opacity: 0;
  transition-delay: 0s;
  width: 200px;
}

/* line 424, ../../../../Code/Project9/scss/base/_typography.scss */
.contact main button.active svg {
  opacity: 1;
  transition-delay: .5s;
}

/* line 432, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav {
  float: left;
  width: 100%;
  overflow: hidden;
  max-height: 0px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* line 439, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav.active {
  max-height: 600px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 443, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav.active a {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}

/* line 448, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav.active a:nth-of-type(1) {
  transition-delay: .5s;
}

/* line 452, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav.active a:nth-of-type(2) {
  transition-delay: .7s;
}

/* line 456, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav.active a:nth-of-type(3) {
  transition-delay: .9s;
}

/* line 462, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a {
  float: left;
  width: 100%;
  margin-top: 18px;
  background-color: #ffffff;
  padding: 18px 20px;
  border-radius: 5px;
  text-decoration: none;
  line-height: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
  position: relative;
}

@media (min-width: 414px) {
  /* line 462, ../../../../Code/Project9/scss/base/_typography.scss */
  .contact nav a {
    padding: 18px 30px;
  }
}

/* line 480, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* line 486, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .arrow path {
  fill: #e6e6e6;
}

/* line 493, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.gmail .icon svg {
  background-color: #d14836;
}

/* line 499, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.gmail .content h1 {
  color: #d14836;
}

/* line 507, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.facebook .icon svg {
  background-color: #3b5998;
}

/* line 513, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.facebook .content h1 {
  color: #3b5998;
}

/* line 521, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.twitter .icon svg {
  background-color: black;
}

/* line 527, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a.twitter .content h1 {
  color: black;
}

/* line 533, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .icon {
  float: left;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

/* line 541, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .icon svg {
  width: 100%;
  height: 100%;
  padding: 14px;
}

/* line 546, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .icon svg path {
  fill: #ffffff;
}

/* line 553, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .content h1 {
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: .4px;
}

/* line 560, ../../../../Code/Project9/scss/base/_typography.scss */
.contact nav a .content span {
  font-size: 14px;
  color: #b3b3b3;
  display: block;
  letter-spacing: .4px;
}

/* line 1, ../../../../Code/Project9/scss/components/_buttons.scss */
#cvBtn {
  text-align: center;
}

/* line 1, ../../../../Code/Project9/scss/components/_navigation.scss */
.nav-link {
  color: black;
}

/* line 3, ../../../../Code/Project9/scss/components/_navigation.scss */
.nav-link:focus, .nav-link:hover {
  background-color: #F05656;
  color: white;
}

@media (min-width: 992px) {
  /* line 2, ../../../../Code/Project9/scss/components/_media-queries.scss */
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #F05656;
    white-space: nowrap;
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #F05656;
    }
  }
}

/*# sourceMappingURL=styles.css.map */