/* line 1, ../../../../Code/Project9/scss/base/_typography.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../../../../Code/Project9/scss/base/_typography.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Zen Maru Gothic', sans-serif;
  background-color: #EAEBEB;
  padding-top: 100px;
}

/* line 13, ../../../../Code/Project9/scss/base/_typography.scss */
a[class="navbar-brand"] {
  font-weight: 900;
  font-size: 1.5rem;
}

/* ======================================================= */
/*                      Jumbotron                          */
/* ======================================================= */
/* line 22, ../../../../Code/Project9/scss/base/_typography.scss */
.typewriteContainer {
  display: inline-block;
}

/* line 26, ../../../../Code/Project9/scss/base/_typography.scss */
.lead {
  color: #F05656;
  margin-left: 8px;
}

/* line 31, ../../../../Code/Project9/scss/base/_typography.scss */
hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* ======================================================= */
/*                          About                          */
/* ======================================================= */
/* line 40, ../../../../Code/Project9/scss/base/_typography.scss */
.aboutImg {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* line 44, ../../../../Code/Project9/scss/base/_typography.scss */
#aboutHeading {
  color: #F05656;
  text-align: center;
  font-weight: 900;
}

/* line 50, ../../../../Code/Project9/scss/base/_typography.scss */
.aboutInfo {
  font-size: 1.2rem;
}

/* ======================================================= */
/*                          Skills                          */
/* ======================================================= */
/* line 57, ../../../../Code/Project9/scss/base/_typography.scss */
#skillsHeader {
  color: #F05656;
  text-align: center;
  font-weight: 900;
}

/* line 63, ../../../../Code/Project9/scss/base/_typography.scss */
.htmlImg,
.cssImg,
.jsImg,
.sassImg,
.bootstrapImg,
.slackImg {
  transition: all .2s ease-in-out;
}

/* line 70, ../../../../Code/Project9/scss/base/_typography.scss */
.htmlImg:hover,
.cssImg:hover,
.jsImg:hover,
.sassImg:hover,
.bootstrapImg:hover,
.slackImg:hover {
  transform: scale(1.1);
}

/* line 73, ../../../../Code/Project9/scss/base/_typography.scss */
.treehouse-icon {
  width: 139px;
  height: 32px;
}

/* line 1, ../../../../Code/Project9/scss/components/_navigation.scss */
.nav-link {
  color: black;
}

/* line 3, ../../../../Code/Project9/scss/components/_navigation.scss */
.nav-link:focus {
  color: #F05656;
}

/* line 8, ../../../../Code/Project9/scss/components/_navigation.scss */
.active {
  background-color: #F05656 !important;
}

@media (min-width: 992px) {
  /* line 2, ../../../../Code/Project9/scss/components/_media-queries.scss */
  .typewriter {
    overflow: hidden;
    border-right: 0.15em solid #F05656;
    white-space: nowrap;
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
  }
  /* The typing effect */
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: #F05656;
    }
  }
}

/*# sourceMappingURL=styles.css.map */