html { 
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    background-color: $baseColor;
    padding-top: 100px;
}

a[class="navbar-brand"] {
    font-weight: 900;
    font-size: 1.5rem;
}


/* ======================================================= */
/*                      Jumbotron                          */
/* ======================================================= */
.typewriteContainer {
    display: inline-block;
}

.lead {
    color: $pink;
    margin-left: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}
/* ======================================================= */
/*                          About                          */
/* ======================================================= */
.aboutImg {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#aboutHeading {
    color: $pink;
    text-align: center;
    font-weight: 900;
}

.aboutInfo {
    font-size: 1.1rem;
}

#aboutImgSm {
  flex: none;
}

/* ======================================================= */
/*                          Skills                         */
/* ======================================================= */
 #skillsHeader {
    color: $pink;
    text-align: center;
    font-weight: 900;
 }

.htmlImg,
.cssImg, 
.jsImg,
.sassImg,
.bootstrapImg,
.slackImg {
    transition: all .2s ease-in-out; 
    &:hover {transform: scale(1.1);}
}

.sample > p {
    text-align: center;
    margin-bottom: 0;
    font-weight: 900;
}

/* ======================================================= */
/*                   Projects/Experience Cards             */
/* ======================================================= */

.experience {
  background-color: $pink;
}

#projectsHeader {
  text-align: center;
  color: $baseColor;
  font-weight: 900;
}

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(#000, .1);
    margin-bottom: 1.6%;
    background: $color_white;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    a {
      color: inherit;
      &:hover {
        color: $color_prime;
      }
    }
    &:hover {
      .photo {
        transform: scale(1.3) rotate(3deg);
      }
    }
    .meta {
      position: relative;
      z-index: 0;
      height: 200px;
    }
    .photo {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      background-position: center;
      transition: transform .2s;
    }

    }
    .description {
      padding: 1rem;
      background: $color_white;
      position: relative;
      z-index: 1;
      h1,
      h2 {
        font-family: Poppins, sans-serif;
      }
      h1 {
        line-height: 1;
        margin: 0;
        font-size: 1.7rem;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
        text-transform: uppercase;
        color: $color_grey_dark;
        margin-top: 5px;
      }
      .read-more {
        text-align: right;
        a {
          color: $color_prime;
          display: inline-block;
          position: relative;
          &:after {
            content: "\f061";
            font-family: FontAwesome;
            margin-left: -10px;
            opacity: 0;
            vertical-align: middle;
            transition: margin .3s, opacity .3s;
          }
  
          &:hover:after {
            margin-left: 5px;
            opacity: 1;
          }
        }
      }
    }

    .experienceCards p {
      position: relative;
      margin: 1rem 0 0;
      &:first-of-type {
        margin-top: 1.25rem;
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          background: $color_prime;
          width: 35px;
          top: -0.75rem;
          border-radius: 3px;
        }
      }
    }

    .experienceCards li::marker {
      content: url("data:image/svg+xml,%3Csvg width='16' height='10' viewBox='0 0 16 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.753 5.99999L10.273 8.29399C9.877 8.68399 9.877 9.31699 10.273 9.70799C10.668 10.098 11.31 10.098 11.705 9.70799L15.555 6.06099C15.843 5.77799 16 5.40299 16 4.99999C16 4.59999 15.842 4.22199 15.556 3.93999L11.706 0.292988C11.31 -0.0970117 10.668 -0.0970117 10.272 0.292988C9.877 0.682988 9.877 1.31599 10.272 1.70699L12.752 3.99999H1C0.447 3.99999 0 4.44599 0 4.99999C0 5.54999 0.448 5.99999 1 5.99999H12.753Z' fill='%237B61FF'/%3E%3C/svg%3E%0A");
    }
    
    .experienceCards li {
      padding-left: .5rem;
    }
 
/* ======================================================= */
/*                        Contact Me                       */
/* ======================================================= */
/* COLORS
========================================== */
@mixin animation($animation) {
  -webkit-animation: #{$animation};
     -moz-animation: #{$animation};
       -o-animation: #{$animation};
          animation: #{$animation};
}

@mixin keyframes($keyframes) {
  @-webkit-keyframes #{$keyframes} { @content; }
     @-moz-keyframes #{$keyframes} { @content; }
       @-o-keyframes #{$keyframes} { @content; }
          @keyframes #{$keyframes} { @content; }
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: #{$transition};
     -moz-transition: #{$transition};
       -o-transition: #{$transition};
          transition: #{$transition};
}

@mixin transition-delay($transition-delay) {
  -webkit-transition-delay: #{$transition-delay};
     -moz-transition-delay: #{$transition-delay};
       -o-transition-delay: #{$transition-delay};
          transition-delay: #{$transition-delay};
}


/* CONTACT
========================================== */ 

.contact-area {
  width: 100%;
  height: 100vh;
  position: relative;
}

.contact {
  position: relative;
  max-width: 600px;
  padding: 40px 20px;
  overflow: hidden;
  margin: 0 auto;
  
  @media (min-width: 1024px) {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }
  
  main {
    float: left;
    width: 100%;
    position: relative;
    
    section {
      border-radius: 5px;
      float: left;
      width: 100%;
      background-color: $color-1;
      
      .content {
        float: left;
        width: 100%;
        padding: 20px 30px 50px 30px;
        position: relative;
        text-align: center;
        
        @media (min-width: 414px) {
          text-align: left;
        }

        img {
          display: inline-block;
          width: 140px;
          border-radius: 50%;
          
          @media (min-width: 414px) {
            float: left;
            width: 30%;
            margin-right: 10%;
          }
        }

        aside {
          float: left;
          width: 100%;
          color: $white;
          margin-top: 10px;
          
          @media (min-width: 414px) {
            width: 60%;
          }
          
          h1 {
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 10px;
          }
          
          p {
            font-size: 1.25rem;
            letter-spacing: .5px;
            line-height: 160%;
          }
        }
      }
    }
    
    .title {
      float: left;
      width: 100%;
      background-color: $color-2;
      max-height: 0px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      overflow: hidden;
      @include transition(all .55s);
      
      &.active {
        max-height: 100px;
        @include transition(all 1.3s);
        
        p {
          @include transform(scale(1));
          transition-delay: .2s;
        }
      }
      
      p {
        padding: 15px 30px;
        color: $white;
        font-size: 16px;
        display: inline-block;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: .5px;
        @include transition(all .3s);
        @include transform(scale(0));
      }
    }
    
    button {
      position: absolute;
      bottom: 0;
      right: 50%;
      background-color: $color-3;
      color: $color-2;
      border: 0;
      width: 200px;
      height: 48px;
      text-align: center;
      border-radius: 30px;
      font-size: 16px;
      letter-spacing: .5px;
      text-transform: uppercase;
      margin-bottom: -24px;
      margin-right: -100px;
      @include transition(all .4s);
      transition-delay: .1s;
      outline: none;
      overflow: hidden;
      z-index: 10;
      font-family: inherit;
      
      span {
        opacity: 1;
        @include transition(opacity .2s);
        transition-delay: .4s;
        display: block;
        width: 200px;
        float: left;
        padding-right: 15px;
        font-weight: 900;
      }
      
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
        opacity: 0;
        @include transition(all .4s);
        
        path {
          fill: $color-2;
        }
      }
      
      &.active {
        margin-right: 0;
        right: 20px;
        width: 65px;
        height: 65px;
        margin-bottom: -32.5px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        border-radius: 65px;
        box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
        
        span {
          opacity: 0;
          transition-delay: 0s;
          width: 200px;
        }
        
        svg {
          opacity: 1;
          transition-delay: .5s;
        }
      }
    }
  }
  
  nav {
    float: left;
    width: 100%;
    overflow: hidden;
    max-height: 0px;
    @include transition(all .5s);
    
    &.active {
      max-height: 600px;
      @include transition(all 1s);
      
      a {
        opacity: 1;
        @include transform(translateY(0px));
        @include transition(all .7s);
        
        &:nth-of-type(1) {
          transition-delay: .5s;
        }
        
        &:nth-of-type(2) {
          transition-delay: .7s;
        }
        
        &:nth-of-type(3) {
          transition-delay: .9s;
        }
      }
    }
    
    a {
      float: left;
      width: 100%;
      margin-top: 18px;
      background-color: $white;
      padding: 18px 20px;
      border-radius: 5px;
      text-decoration: none;
      line-height: 0;
      @include transition(all .3s);
      opacity: 0;
      @include transform(translateY(-10px));
      position: relative;
      
      @media (min-width: 414px) {
        padding: 18px 30px;
      }
      
      .arrow {
        position: absolute;
        right: 15px;
        top: 50%;
        @include transform(translateY(-50%));
        
        path {
          fill: darken($white, 10%);
        }
      }
      
      &.gmail {
        .icon {
          svg {
            background-color: $gmail;
          }
        }
        
        .content {
          h1 {
            color: $gmail;
          }
        }
      }
      
      &.facebook {
        .icon {
          svg {
            background-color: $facebook;
          }
        }
        
        .content {
          h1 {
            color: $facebook;
          }
        }
      }
      
      &.twitter {
        .icon {
          svg {
            background-color: black;
          }
        }
        
        .content {
          h1 {
            color: black;
          }
        }
      }
      
      .icon {
        float: left;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 20px;
        
        svg {
          width: 100%;
          height: 100%;
          padding: 14px;
          
          path {
            fill: $white;
          }
        }
      }
      
      .content {
        h1 {
          font-size: 20px;
          font-weight: 400;
          line-height: 160%;
          letter-spacing: .4px;
        }
        
        span {
          font-size: 14px;
          color: darken($white, 30%);
          display: block;
          letter-spacing: .4px;
        }
      }
    }
  }
}